* {
  text-align: center;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh; 
  color: white;
  background-color: #ebf6f9;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

.nav-logo {
  position: absolute;
  left: 2.92%;
  right: 70.38%;
  top: 0.48%;
  bottom: 16.48%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 61px;
  color: #000000;
}

#img {
  max-width: 300px;
  max-height: 450px;
}


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
