* {
  text-align: center;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh; 
  color: white;
  background-color: #ebf6f9;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

.nav-logo {
  position: absolute;
  left: 2.92%;
  right: 70.38%;
  top: 0.48%;
  bottom: 16.48%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 61px;
  color: #000000;
}

/* --- Goals & Categories --- */

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.violet {
  width: 415px;
  height: 157px;
  margin-bottom: 20px;
  background: #FFFFFF;
  border: 4px solid #A275D7;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px #A275D7;
  border-radius: 8px;
  color: #A275D7;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 157px;
  text-align: center;
}

.indigo {
  width: 415px;
  height: 157px;
  margin-bottom: 20px;
  background: #FFFFFF;
  border: 4px solid #3E3189;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px #3E3189;
  border-radius: 8px;
  color: #3E3189;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 157px;
  text-align: center;
}

.blue {
  width: 415px;
  height: 157px;
  margin-bottom: 20px;
  background: #FFFFFF;
  border: 4px solid #88C8DC;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px #88C8DC;
  border-radius: 5px;
  color: #88C8DC;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 157px;
  text-align: center;
}

.green {
  width: 415px;
  height: 157px;
  margin-bottom: 20px;
  background: #FFFFFF;
  border: 4px solid #A2B879;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px #A2B879;
  color: #A2B879;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 157px;
  text-align: center;
}

.yellow {
  width: 415px;
  height: 157px;
  margin-bottom: 20px;
  background: #FFFFFF;
  border: 4px solid #F4E198;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px #F4E198;
  color: #F4E198;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 157px;
  text-align: center;
}

.orange {
  width: 415px;
  height: 157px;
  margin-bottom: 20px;
  background: #FFFFFF;
  border: 4px solid #E39E73;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px #E39E73;
  border-radius: 8px;
  color: #E39E73;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 157px;
  text-align: center;
  justify-items: center;
}

.red {
  width: 415px;
  height: 157px;
  margin-bottom: 20px;
  background: #FFFFFF;
  border: 4px solid #D85A67;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px #D85A67;
  color: #D85A67;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 157px;
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
